body {
  background: #444;
  color: #FFF;
  margin: 40px;
  font-family: 'Lilita One', sans-serif;
}

table {
  float: left;
}

.threed {
  color:#FFFFFF;
  text-shadow: 0 1px 0 #ccc,
  0 2px 0 #c9c9c9,
  0 3px 0 #bbb,
  0 4px 0 #b9b9b9,
  0 5px 0 #aaa,
  0 6px 1px rgba(0,0,0,.1),
  0 0 5px rgba(0,0,0,.1),
  0 1px 3px rgba(0,0,0,.3),
  0 3px 5px rgba(0,0,0,.2),
  0 5px 10px rgba(0,0,0,.25),
  0 10px 10px rgba(0,0,0,.2),
  0 20px 20px rgba(0,0,0,.15);
}

h1 {
  margin-bottom: 0;
}

a {
  color: #EDE44C;
  text-decoration: none;
}

a:hover {
  color: #FFFF00;
}

#info {
  font-size: 24pt;
  text-transform: uppercase;
  width: 200pt;
}

#options {
  font-size: 14pt;
}

#options input {
  height: 16pt;
  width: 16pt;
  position: relative;
  top: 2px;
}

.card {
  height: 140px;
  width: 100px;
  border: 3px solid #AAA;
  text-align: center;
  float: left;
  background: #FFF;
  display: table;
}

.card div {
  vertical-align: middle;
  display: table-cell;
}

.card canvas {
  width: 100px;
  height: 37px;
  display: inline;
}

#mat {
  padding: 20px;
  background: url("images/mat.png") repeat;
  border: 4px solid #EDE44C;
  float: left;
  text-align: center;
  height: 80%;
}

#mat tr {
  height: 20%;
}

#mat td {
  width: 20%;
  padding: 10pt;
}

.selected {
  border: 3px solid #FC0;
  background: #FFB;
}

.incorrect {
  border: 3px solid #F00;
}

.cheat {
  border: 3px solid #00F;
}

#victory {
  display: none;
  color: #EDE44C;
  font-size: 24pt;
  padding: 80pt;
  text-shadow: 0 0 10pt #000;
  position: absolute;
  left: 29%;
  top: 20%;
}

#victory h1 {
  margin: 0;
  padding: 0;
  font-size: 72pt;
}

